<form action="/" method="post">
  {{ form.csrf_token }}
  {% for field in form if field.id != 'csrf_token' %}
    {% if field.errors %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
    {{ field.label(class_="control-label") }}
    {{ field(class_="form-control") }}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o fa-fw fa-lg" aria-hidden="true"></i> Send</button>
  <button type="reset" class="btn btn-default"><i class="fa fa-undo fa-fw fa-lg" aria-hidden="true"></i> Reset</button>
</form>
